language: objective-c
osx_image: xcode8.2
xcode_sdk: macosx
branches:
  only:
    - master
    - develop
before_install:
  - carthage bootstrap
script:
  - set -o pipefail && xcodebuild -project "Model Boiler.xcodeproj" -scheme "Model Boiler" -configuration Release ONLY_ACTIVE_ARCH=NO -sdk macosx build | xcpretty
  - set -o pipefail && xcodebuild -project "Model Boiler.xcodeproj" -scheme "Model Boiler" -configuration Debug ONLY_ACTIVE_ARCH=NO -sdk macosx build | xcpretty
